<div id="liste-artistes">
  <div class="artiste" *ngFor="let a of artistes">
    <div class="artiste-image" [style.backgroundImage]="'url('+ a.photo +')'"></div>
    <div class="artiste-caption">
      <h3 class="nom">{{ a.nom }}</h3>
      <p class="style">{{ a.styleMusical }}</p>
      <button class="btn btn-primary" (click)="toggleModal(a, 'update')">Modifier</button>
      <button class="btn btn-danger" (click)="deleteArtiste(a.id)">Supprimer</button>
    </div>
  </div>
  <div id="add-box" class="artiste" (click)="toggleModal(-1, 'add')">
    <i class="fa fa-plus"></i>
  </div>
</div>


<div id="modal" *ngIf="showModal">
  <div>
    <div class="close" (click)="toggleModal(-1, '')">
      <i class="fa fa-times"></i>
    </div>
    <h1>{{ action == 'add' ? 'Ajouter un artiste' : 'Modifier un artiste' }}</h1>
    <input class="input-group-text" type="text" placeholder="Nom" #nom [value]="selectedArtiste.nom ? selectedArtiste.nom : ''" />
    <input class="input-group-text" type="text" placeholder="Genre" #genre [value]="selectedArtiste.genre ? selectedArtiste.genre : ''" />
    <textarea class="input-group-text" type="text" placeholder="Description" #description [value]="selectedArtiste.description ? selectedArtiste.description : ''"></textarea>
    <input class="input-group-text" type = "text" placeholder="Lien Facebook" #facebook [value] = "selectedArtiste.facebook ? selectedArtiste.facebook : ''">
    <input class="input-group-text" type = "text" placeholder="Lien Twitter" #twitter [value] = "selectedArtiste.twitter ? selectedArtiste.twitter : ''">
    <input class="input-group-text" type = "text" placeholder="Lien Youtube" #youtube [value] = "selectedArtiste.youtube ? selectedArtiste.youtube : ''">
    <input class="input-group-text" type = "text" placeholder="Lien Instagram" #instagram [value] = "selectedArtiste.instagram ? selectedArtiste.instagram: ''">
    <input class="input-group-text" type = "text" placeholder="Site Web" #website [value] = "selectedArtiste.website ? selectedArtiste.website: ''">
    <label for="photo_prof">Photo de profil</label>
    <input id="photo_prof" class="input-group-text" type="file" name="file" #photo_profil />
    <label for="photo_couv">Photo de couverture</label>
    <input id="photo_couv" class="input-group-text" type="file" name="file" #photo_couverture />
    
    <button type="submit" form="artiste_form" (click)="action == 'add' ? ajouterArtiste(nom.value, genre.value, description.value, facebook.value, twitter.value, youtube.value, instagram.value, website.value, photo_profil, photo_couverture) : modifierArtiste(nom.value, genre.value, description.value, facebook.value, twitter.value, youtube.value, instagram.value, website.value, photo_profil, photo_couverture)">Valider</button>
  </div>
</div>