<div id="admin-page" [ngSwitch]="option" [style.backgroundColor]="colors.second_color">

  <div id="options">
    <a (click)="setOption(1)" [class.active]="option == 1">Artistes</a>
    <a (click)="setOption(2)" [class.active]="option == 2">Albums</a>
    <a (click)="setOption(3)" [class.active]="option == 3">Equipe</a>
    <a (click)="setOption(6)" [class.active]="option == 4">Partenaires</a>
    <a (click)="setOption(5)" [class.active]="option == 5">Réglages</a>
    
  
  </div>

  <edit-artistes [artistes]="artistes" *ngSwitchCase="1"></edit-artistes>

  <edit-albums [albums]="albums" *ngSwitchCase="2"></edit-albums>

  <edit-collab [collabs]="collabs" *ngSwitchCase="3"></edit-collab>

  <partenaires *ngSwitchCase='6'></partenaires>

  <profil-settings *ngSwitchCase='5'></profil-settings>


</div>
