$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;

#container {
  background-color: white;
}

#header {
  height: 100vh;
  width: 100%;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  text-align: right;
  padding: 7px 25px;
  transition: all .2s ease;

  .navbar-brand>img {
    max-height: 45px;
  }

  .navbar-collapse {
    justify-content: flex-end;

    .social-container {
      @media screen and (max-width: $md-breakpoint) {
        text-align: center;
      }
    }

    .social-container>a.youtube:hover {
      color: #f00;
    }

    .nav-item {
      &:last-child a::after {
        content: "";
      }

      a {
        font: 600 .85em "Raleway", sans-serif;
        letter-spacing: .273em;
        text-transform: uppercase;
        padding: 7px;
        padding-left: 0;
        color: black;
        transition: color .3s ease;
        cursor: pointer;

        &:hover {
          color: #ed6f7d;
          text-decoration: none;
        }

        &::after {
          content: "\B7";
          font-family: "FontAwesome";
          font-size: 3.5em;
          vertical-align: middle;
          position: relative;
          top: -1px;
          margin-left: 7px;

          @media screen and (max-width: $md-breakpoint) {
            content: "";
          }
        }
      }

      @media screen and (max-width: $md-breakpoint) {
        text-align: center;
      }
    }
  }

  &.scrolled {
    background-color: black !important;
    border-bottom: 1px solid #333;

    .navbar-collapse .nav-item>a {
      color: #fff;

      &:hover {
        color: #ed6f7d;
      }
    }

    .social-container>a {
      color: #fff;
    }
  }
}

#albums>.portfolio>.description {
  height: inherit;
}

#albums>.portfolio>.description .tracklist {
  height: stretch;
}

#albums>.portfolio>.description .tracklist iframe {
  height: inherit;
}

#albums> {
  .portfolio> {
    .description {
      .tracklist {
        #options {
          padding-left: 5px;

          &>a {
            font: 400 .83em/3.183em "Raleway", sans-serif;
            letter-spacing: .273em;
            text-transform: uppercase;
            padding: 7px;
            padding-left: 0;
            color: #fff;
            -webkit-transition: color .3s ease;
            -o-transition: color .3s ease;
            transition: color .3s ease;
            cursor: pointer;

            &.active {
              color: #e2a433;
            }
          }

          &>a::after {
            content: "\B7";
            font-family: "FontAwesome";
            font-size: 3.5em;
            vertical-align: middle;
            position: relative;
            margin-left: 7px;
          }

          &>a:last-child::after {
            content: "";
          }
        }
      }
    }
  }
}

.itemContainer {
  padding: 100px 0;
  text-align: center;

  >h1 {
    color: black;
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: .063em;
    text-transform: uppercase;
  }

  >.portfolio {
    display: flex;
    width: 95%;
    max-width: 800px;
    margin: 60px auto;
    height: 400px;
    background-color: #18191b;

    >div {
      width: 50%;
      height: 400px;
    }

    >.img-container {
      background-position: center center;
      background-size: cover;
    }

    >.description {
      position: relative;
      text-align: justify;
      overflow: hidden;

      h2 {
        color: #ed6f7d;
        text-align: left;
        font-size: 2em;
        margin-top: 2px;
        padding: 10px 30px 0 15px;
        font-weight: normal;
      }

      h3 {
        color: #ed6f7d;
        text-align: left;
        font-size: 2em;
        margin-top: 2px;
        padding: 0 10px 0 15px;
        font-weight: normal;
      }

      hr {
        margin-bottom: 30px;
        border-width: .5px;
        border-color: #888;
        margin: 0 10px 0 15px;
      }

      p {
        color: #fff;
        line-height: 0;
        padding: 0 10px 0 15px;
        margin: 15px 0;
        text-align: left;
      }

      a:hover {
        color: #e1a631;
      }
    }
  }
}

.portfolioArtiste>.mediaContainer {
  width: 50vw;
}

.portfolioArtiste>.mediaContainer>.img-container {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.portfolioArtiste>.mediaContainer>.video-container {
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.portfolioArtiste>.mediaContainer>.video-container>iframe {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;

}

.portfolioArtiste {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  column-count: 2;
  width: 50vw;
  height: 100%;
  justify-content: center;
  background-color: black;
}

.portfolioArtiste>.textContainer {
  width: 50vw;
}

.portfolioArtiste>.textContainer>.description {
  position: relative;
  text-align: justify;
  overflow: hidden;
}

.portfolioArtiste>.textContainer>.description .mobile-img-container{
    display:none;
}

.portfolioArtiste>.textContainer>.description .mobile-hr{
    display:none;
}

.portfolioArtiste>.textContainer>.description hr {
  margin-bottom: 30px;
  border-width: .5px;
  border-color: #888;
  margin: 0 10px 0 15px;
}

.portfolioArtiste>.textContainer>.description p {
  color: #fff;
  padding: 0 10px 0 15px;
  margin: 15px 0;
  text-align: left;
}

.descArtiste {
  line-height: 0;
}

.portfolioArtiste>.textContainer>.description h2 {
  color: black;
  margin: 15px;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: .063em;
  text-transform: uppercase;
}

.portfolioArtiste>.textContainer>.description h3 {
  color: black;
  margin: 15px;
  letter-spacing: .063em;
  text-transform: uppercase;
}

.portfolioArtiste>.textContainer>.description a:hover {
  color: #e1a631;
}

.separator {
  line-height: .5em;
  margin: 30px 0;
  color: black;

  >span {
    position: relative;
    display: inline-block;

    >i.fa {
      font-size: 6px;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      width: 35vw;
      max-width: 275px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    &::after {
      left: 100%;
      margin-left: 15px;
    }

    &::before {
      right: 100%;
      margin-right: 15px;
    }
  }
}

#close-btn {
  margin: 5px 5px 0 0;
  position: relative;
  top: 5px;
  font-size: 18px;
  float: right;
  cursor: pointer;
}

.liste-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;

  .item {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 12.5%;
    height: 12.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    cursor: pointer;

    >.item-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      transition: all .4s ease;

      >h3 {
        font-size: 1.25em;
        color: #ed6f7d;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }

    >.item-caption {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: scale(.2);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-transform: uppercase;
      transition: all .4s ease;

      >p {
        margin: 0;
        font-size: 9px;
        letter-spacing: 0.1em;
      }
    }

    &:hover {
      >.item-image {
        transform: scale(1.25);
      }

      >.item-caption {
        transform: scale(1);
        opacity: 1;
      }
    }

    @media all and (max-width: $lg-breakpoint) {
      width: 25%;
      height: 25vw;
    }

    @media all and (max-width: $md-breakpoint) {
      width: 33.333333333%;
      height: 33.333333333vw;
    }

    @media all and (max-width: $sm-breakpoint) {
      width: 50%;
      height: 50vw;
    }
  }
}

.error {
  width: 100%;
  text-align: center;
  color: #e1a631;
  font-size: 1.2em;

  .fa {
    font-size: 2em;
    margin-bottom: 15px;
  }
}

#partenaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;

  h1 {
    color: black;
    margin: 0;
    font-size: 2.8em;
    font-weight: 300;
    letter-spacing: .063em;
    text-transform: uppercase;
  }

  &>#partenaires-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &>.partenaire {
      width: 33.33333%;
      margin-bottom: 15px;
      padding: 10px;

      img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
}

footer {
  color: #fff;
  text-align: center;
  padding: 30px 10px;

  p {
    text-align: center;
    margin: 1rem 0;
  }
}

@media all and (max-width: 800px) {
  #artistes {
    #liste-artistes {
      .artiste {
        width: calc(100% / 3);
        height: calc(100vw / 3);
      }
    }
  }
}

@media all and (max-width: 600px) {
  #artistes {
    #liste-artistes {
      .artiste {
        width: 50%;
        height: 50vw;
      }
    }
  }
}

@media all and (max-width: 500px) {
  #header {
    height: 500px;
  }
}

@media screen and (max-width: 420px) {

    .itemContainer{
        .portfolio{
            flex-direction:column;
                .img-container{
                    display:none;
                    height:0%;
            }
            >div{
                width: 100%;
            }
        }
    }
  

  .portfolioArtiste{
      column-count: 1;
      width:100%;
      flex-direction:column-reverse;
      .mediaContainer{
          width:100%;
          .img-container{
              visibility:hidden;
          }
      }
      .textContainer{
          width:100%;
          

      }
  }

  .portfolioArtiste>.textContainer>.description .mobile-img-container{
      display: inherit;
      
      background-position: center center;
      background-size: cover;
      width:100%;
      height:50vw;
  }

  .portfolioArtiste>.textContainer>.description .hide_on_ss {
    display: none;
  }

  #partenaires {
    &>#partenaires-container {
      &>.partenaire {
        padding: 3px;
      }
    }
  }
}