<div id="container">
  <nav class="navbar fixed-top navbar-expand-md navbar-light" [ngClass]="{'scrolled navbar-dark': scrolled}">
    <a class="navbar-brand" href="#"><img [src]='logo' /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [ngx-scroll-to]="'#artistes'" title="Booking">Booking</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#albums'" title="Label">Label</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#partenaires'" title="Partenaires">PARTENAIRES</a>
        </li>
        <li class="nav-item">
          <a [ngx-scroll-to]="'#collabs'" title="Equipe">Equipe</a>
        </li>
      </ul>

      <div class="social-container">
        <a href="https://www.facebook.com/Ovastand/" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.youtube.com/user/OvastandRecords" target="_blank" style="margin-left: 10px" class="youtube"> <i class="fab fa-youtube fa-2x"></i></a>
      </div>
    </div>
  </nav>

  <section class="itemContainer" id="artistes">
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
    <h1>BOOKING</h1>
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="artisteFocused">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                    <div class="portfolioArtiste">
                        <div class="mediaContainer">
                            <div class="img-container" [style.backgroundImage]="'url('+ artisteFocused.photo_couverture +')'"></div>
                            <div class="video-container">
                                <iframe [src]='safeYtUrl1' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <iframe [src]='safeYtUrl2' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="textContainer">
                            <div class="description">
                                <i [style.color]="colors['main_color']" id="close-btn" data-dismiss="modal" class="fa fa-times-circle" (click)="closeArtistePortfolio()"></i>                          
                                    <h2 [style.color]="colors['main_color']">
                                        {{ artisteFocused.nom }}
                                    </h2>
                                    <h3 [style.color]="colors['main_color']">
                                        {{ artisteFocused.genre }}
                                    </h3>
                                    <div class="mobile-img-container" [style.backgroundImage]="'url('+ artisteFocused.photo_couverture +')'"></div>

                                    <hr class="hide_on_ss" />
                                    <h2 [style.color]="colors['main_color']">
                                        <a *ngIf="artisteFocused.facebook" href="{{ artisteFocused.facebook }}" target="_blank"> <i class="fab fa-facebook fa-3x"></i></a>
                                        <a *ngIf="artisteFocused.twitter" href="{{ artisteFocused.twitter }}" target="_blank">
                                            <i class="fab fa-twitter fa-3x"></i>
                                        </a>
                                        <a *ngIf="artisteFocused.youtube" href="{{ artisteFocused.youtube }}" target="_blank">
                                            <i class="fab fa-youtube fa-3x"></i>
                                        </a>
                                        <a *ngIf="artisteFocused.instagram" href="{{ artisteFocused.instagram }}" target="_blank">
                                            <i class="fab fa-instagram fa-3x"></i>
                                        </a>
                                    </h2>

                                    <hr />
                                    <p class="descArtiste" *ngFor="let d of descriptionOnFocus">{{ d }}</p>
                                    <hr />
                                    <p><a href="{{ artisteFocused.website }}" target="_blank">Site Web</a></p>
                                    <hr />
                                    <h2 [style.color]="colors['main_color']">DATES</h2>
                                    <p *ngFor="let d of artisteFocused.tourDates">{{ d }}</p>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
    
    

    <div class="loader" *ngIf="!artistes && !connectionError">
        <svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
            <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#e1a533" transform="rotate(108 50 51)">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51"
            keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
            </path>
        </svg>
    </div>

    <div class="liste-items" id="liste-artistes">
      <div class="item" data-toggle="modal" data-target="#portfolioModal" (click)="selectArtiste(a)" [ngx-scroll-to]="'#artistes'" *ngFor="let a of artistes">
        <div class="item-image" [style.backgroundImage]="'url('+ a.photo_profil +')'"></div>
        <div class="item-caption">
          <h3 class="nom" [style.color]="colors['main_color']">{{ a.nom }}</h3>
          <p class="style">{{ a.styleMusical }}</p>
        </div>
      </div>
      <p class="error" *ngIf="connectionError"><i class="fa fa-exclamation-triangle"></i><br />Veuillez vérifier
        votre connexion internet.</p>
    </div>
  </section>

  <section class="itemContainer" id="albums">
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
    <h1>LABEL</h1>
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
    <div class="portfolio" *ngIf="albumFocused" [@slideDown]="albumFocused">
      <div class="img-container" [style.backgroundImage]="'url('+ albumFocused.photos[0] +')'"></div>
      <div class="description">
        <perfect-scrollbar>
          <i [style.color]="colors['main_color']" id="close-btn" class="fa fa-times-circle" (click)="closeAlbumPortfolio()"></i>

          <h2 [style.color]="colors['main_color']">{{ albumFocused.nom }}</h2>
          <h3 [style.color]="colors['main_color']"> {{ albumFocused.artiste }}</h3>
          <hr>


          <div class="tracklist" [ngSwitch]="option">
            <div id="options">
              <a (click)="setOption(1)" [class.active]="option == 1">Spotify</a>
              <a (click)="setOption(2)" [class.active]="option == 2">Deezer</a>
            </div>
            <iframe class="player" *ngSwitchCase="1" [src]='safeSpotifyUrl' frameborder="0" allowtransparency="true"
              allow="encrypted-media" width="100%" height="100%"></iframe>
            <iframe *ngSwitchCase="2" scrolling="no" frameborder="0" allowTransparency="true" [src]='safeDeezerUrl'
              width="100%" height="100%"></iframe>
          </div>
        </perfect-scrollbar>
      </div>
    </div>

    <div class="loader" *ngIf="!artistes && !connectionError"><svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
        <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#e1a533" transform="rotate(108 50 51)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51"
            keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        </path>
      </svg></div>

    <div class="liste-items" id="liste-albums">
      <div class="item" (click)="selectAlbum(a)" [ngx-scroll-to]="'#albums'" *ngFor="let a of albums">
        <div class="item-image" [style.backgroundImage]="'url('+ a.photos[0] +')'"></div>
        <div class="item-caption">
          <h3 class="nom" [style.color]="colors['main_color']">{{ a.nom }}</h3>
          <p class="artiste">{{ a.artiste }}</p>
        </div>
      </div>
      <p class="error" *ngIf="connectionError"><i class="fa fa-exclamation-triangle"></i><br />Veuillez vérifier
        votre connexion internet.</p>
    </div>
  </section>

  <div class="itemContainer" id="partenaires">
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
    <h1>PARTENAIRES</h1>
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>

    <div class="loader" *ngIf="!partenaires && !connectionError"><svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
        <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#e1a533" transform="rotate(108 50 51)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51"
            keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        </path>
      </svg></div>

    <div id="partenaires-container">
      <div class="partenaire" *ngFor="let p of partenaires">
        <a href="{{ p.url }}">
          <img src="{{ p.logo }}" title="{{ p.nom }}">
        </a>
      </div>
    </div>
  </div>

  <section class="itemContainer" id="collabs">
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>
    <h1>Equipe</h1>
    <div class="separator">
      <span>
        <i class="fa fa-circle"></i>
      </span>
    </div>

    <div class="loader" *ngIf="!collabs && !connectionError"><svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
        <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#e1a533" transform="rotate(108 50 51)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51"
            keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        </path>
      </svg></div>

    <div class="liste-items" id="liste-collabs">
      <div class="item" [ngx-scroll-to]="'#collabs'" *ngFor="let c of collabs">
        <div class="item-image" [style.backgroundImage]="'url('+ c.photo +')'"></div>
        <div class="item-caption">
          <h3 class="nom" [style.color]="colors['main_color']">{{ c.nom }} - {{ c.fonction }}</h3>
          <p class="nom">{{ c.email }}</p>
        </div>
      </div>
      <p class="error" *ngIf="connectionError"><i class="fa fa-exclamation-triangle"></i><br />Veuillez vérifier
        votre connexion internet.</p>
    </div>
  </section>




  <footer [style.backgroundColor]="'#18191b'">
    <p>Ovastand © 2018</p>
    <p>Conception: Grégoire Rabasse &amp; Timothée Babinet</p>
    <p>Tous droits réservés</p>
  </footer>


</div>