<div id="liste-albums">
  <div class="album" *ngFor="let a of albums">
    <div class="album-image" [style.backgroundImage]="'url('+ a.url_photo +')'"></div>
    <div class="album-caption">
      <h3 class="nom">{{ a.nom }} - {{ a.artiste }}</h3>
      
      <button class="btn btn-primary" (click)="toggleModal(a, 'update')">Modifier</button>
      <button class="btn btn-danger" (click)="deleteAlbum(a.id)">Supprimer</button>
    </div>
  </div>
  <div id="add-album-box" class="album" (click)="toggleModal(-1, 'add')">
    <i class="fa fa-plus"></i>
  </div>
</div>
  
  
<div id="modal" *ngIf="showModal">
  <div>
    <div class="close" (click)="toggleModal(-1, '')">
      <i class="fa fa-times"></i>
    </div>
    <h1>{{ action == 'add' ? 'Ajouter un album' : 'Modifier un album' }}</h1>
    <input class="input-group-text" type="text" placeholder="Nom" #nom [value]="selectedAlbum.nom ? selectedAlbum.nom : ''" />
    <input class="input-group-text" type="text" placeholder="Artiste" #artiste [value]="selectedAlbum.artiste ? selectedAlbum.artiste : ''" />
    <input class="input-group-text" type = "text" placeholder="Prix " #prix [value] = "selectedAlbum.prix ? selectedAlbum.prix : ''">
    <input class="input-group-text" type = "text" placeholder="Lien Deezer" #deezer [value] = "selectedAlbum.deezer ? selectedAlbum.deezer : ''">
    <input class="input-group-text" type = "text" placeholder="Lien Spotify" #spotify [value] = "selectedAlbum.spotify ? selectedAlbum.spotify : ''">
    <label for="photos">Photo</label>
    <input id="photos" class="input-group-text" type="file" name="file" #photos/>
    
    
    <button type="submit" form="album_form" (click)="action == 'add' ? ajouterAlbum(nom.value, artiste.value, prix.value, photos, deezer.value, spotify.value) : modifierAlbum(nom.value, artiste.value, prix.value, photos, deezer.value, spotify.value)">Valider</button>
  </div>
</div>